.todo_root {

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.todo_ul {
  width: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.todo_li {
  border-radius: 50px;
  padding: 10px 25px;
  background-color: #5a5656;
}

.list_title {
  text-align: center;
  justify-content: space-between;
  display: flex;
  gap: 20px;
}